doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      var a = 'demo';
      console.log(a);
      console.log(document.getElementsByName("file"));
  body
    block content
